{{ define "title" }}{{ .Params.name | default .Title }} | {{ .Site.Title }}{{ end }}

{{ define "main" }}
{{ partial "header.html" . }}
<main>
  {{ partial "author-card.html" (dict "author" . "profile" true "element" "header") }}
  {{ $posts := partial "author-posts.html" . }}
  {{ if $posts }}
  <ul class="post-list">
    {{ range $posts }}
    {{ partial "post-list-item.html" . }}
    {{ end }}
  </ul>
  {{ else }}
  <p class="author-empty">No posts from {{ .Params.name | default .Title }} yet.</p>
  {{ end }}
</main>
{{ end }}
