{{ define "title" }}{{ .Params.name | default .Title }} | {{ .Site.Title }}{{ end }}

{{ define "main" }}
{{ partial "header.html" . }}
<main>
  {{ with .Site.GetPage "/authors" }}{{ with .RelPermalink }}
  <p class="author-all"><a href="{{ . }}"><span aria-hidden="true">←</span> All contributors</a></p>
  {{ end }}{{ end }}
  {{ partial "author-card.html" (dict "author" . "profile" true "element" "header") }}
  {{ $posts := partial "author-posts.html" . }}
  {{ if $posts }}
  <ul class="post-list">
    {{ range $posts }}
    {{ partial "post-list-item.html" . }}
    {{ end }}
  </ul>
  {{ end }}
</main>
{{ end }}
