<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" id="top">
  <head>
    {{ partial "head.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
  </head>
  <body>
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    {{ $mediaJS := "/js/media.js" | relURL }}
    {{ $mediaHash := md5 (readFile "static/js/media.js") }}
    <script type="module" src="{{ $mediaJS }}?v={{ $mediaHash }}"></script>
  </body>
</html>
