<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" id="top">
  <head>
    {{ partial "head.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
  </head>
  <body>
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    {{ $mediaJS := "/js/media.js" | relURL }}
    {{ $mediaHash := md5 (readFile "static/js/media.js") }}
    <script type="module" src="{{ $mediaJS }}?v={{ $mediaHash }}"></script>
    {{ if not (or (eq .Type "admin") (eq .Type "add-photos")) }}
    {{/* Bump the "-3" when static/sw.js behavior changes so the shell cache name moves. */}}
    {{ $swVersion := printf "%s-3" $style.Data.Integrity }}
    {{ $swJS := "/sw.js" | relURL }}
    {{ $offlineJS := "/js/offline.js" | relURL }}
    {{ $offlineHash := md5 (readFile "static/js/offline.js") }}
    <script type="module">
      import { startOfflineUx } from "{{ $offlineJS }}?v={{ $offlineHash }}";
      startOfflineUx();
    </script>
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("{{ $swJS }}?v={{ $swVersion | urlquery }}", { scope: "/", type: "module" }).then(function () {
          return navigator.serviceWorker.ready;
        }).then(function (reg) {
          var prefetch = function () {
            if (reg.active) reg.active.postMessage({ type: "prefetch-recent" });
          };
          if (window.requestIdleCallback) window.requestIdleCallback(prefetch, { timeout: 4000 });
          else window.setTimeout(prefetch, 1200);
        });
      }
    </script>
    {{ end }}
  </body>
</html>
