{{ define "title" }}{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}{{ end }}

{{ define "main" }}
  {{ partial "header.html" . }}
  <main>
    <ul class="post-list">
      {{ $sections := slice "posts" }}
      {{ if .IsHome }}
        {{ $sections = slice "posts" "gradys-tour" }}
      {{ end }}
      {{ range where .Site.RegularPages "Section" "in" $sections }}
        {{ partial "post-list-item.html" . }}
      {{ end }}
    </ul>
    {{ partial "subscribe.html" . }}
  </main>
{{ end }}
