{{/*
  After the article: this author's other posts in date order, as a
  sideways-scrolling row of featured-image cards. The following post is
  labeled Next; every other card uses the publish date.
*/}}
{{ with (partial "author-page.html" .) }}
{{ $author := . }}
{{ $name := $author.Params.name | default $author.Title }}
{{ $posts := partial "author-posts.html" $author }}
{{ if ge (len $posts) 2 }}
{{ $prev := false }}
{{ $next := false }}
{{ $seen := false }}
{{ $others := slice }}
{{ range sort $posts "Date" "asc" }}
  {{ if eq .RelPermalink $.RelPermalink }}
    {{ $seen = true }}
  {{ else }}
    {{ $others = $others | append . }}
    {{ if $seen }}
      {{ if not $next }}{{ $next = . }}{{ end }}
    {{ else }}
      {{ $prev = . }}
    {{ end }}
  {{ end }}
{{ end }}
<nav class="more-from-author" aria-labelledby="more-from-heading">
  <h2 id="more-from-heading" class="more-from-heading">More from <a href="{{ $author.RelPermalink }}">{{ $name }}</a></h2>
  <ul class="more-from-scroller" role="list">
    {{ range $others }}
    {{ $isNext := false }}
    {{ $isPrev := false }}
    {{ if $next }}{{ $isNext = eq .RelPermalink $next.RelPermalink }}{{ end }}
    {{ if $prev }}{{ $isPrev = eq .RelPermalink $prev.RelPermalink }}{{ end }}
    <li>
      <a href="{{ .RelPermalink }}" class="more-from-card"{{ if $isNext }} rel="next"{{ else if $isPrev }} rel="prev"{{ end }}>
        {{ with .Params.image }}
        <span class="more-from-image">
          <img src="{{ . | relURL }}" alt="" width="640" height="360" loading="lazy" decoding="async">
        </span>
        {{ end }}
        {{ if $isNext }}
        <span class="more-from-label">Next</span>
        {{ else }}
        <time class="more-from-label" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        {{ end }}
        <span class="more-from-title">{{ .Title }}</span>
      </a>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}
{{ end }}
