{{/*
  One post in a list. Expects the post page as context (.).
  Title and image link to the post; author name links to /authors/<slug>/.
*/}}
<li class="post-list-item">
  {{ with .Params.image }}
  <a href="{{ $.Permalink }}" class="post-list-image-link" tabindex="-1" aria-hidden="true">
    <span class="post-list-image">
      <img src="{{ . | absURL }}" alt="" width="640" height="360" loading="lazy" decoding="async">
    </span>
  </a>
  {{ end }}
  <div class="post-list-meta">
    <a href="{{ .Permalink }}" class="post-list-title">{{ .Title }}</a>
    {{ with (partial "author-page.html" .) }}
    <a href="{{ .RelPermalink }}" class="post-list-author">{{ .Params.name | default .Title }}</a>
    {{ end }}
    <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
  </div>
</li>
