{{/*
Compact byline: "By Name" or "By A and B", each name linking to /authors/<slug>/.
  Tour posts add a country chip. One country is a link; several open a dropdown.
  */}}
{{- $authors := partial "post-author-pages.html" . -}}
{{- $slugs := partial "tour-country-slugs.html" . -}}
{{- if or $authors $slugs -}}
<div class="post-byline-row">
  {{- if $authors -}}
  <p class="post-byline">By {{ partial "author-name-links.html" (dict "page" .) }}</p>
  {{- end -}}
  {{ partial "post-country-chip.html" . }}
</div>
{{- end -}}
